<div class="container">
  <h1>Selamat datang,</h1>
  <p>saat ini Anda berada di Website Bimas Katolik Kantor Kementerian Agama Kabupaten Sumba Tengah.</p>
  <p>Untuk memulai, Anda dapat memilih salah satu dari menu yang tersedia.</p>
  <p>Salve!</p>
</div>
