<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Bimas Katolik Sumba Tengah</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Beranda</a>
        <a class="nav-link" href="#">Tentang</a>
        <a class="nav-link" href="#">Data</a>
        <a class="nav-link" href="#">Galeri</a>
        <a class="nav-link" href="#">Informasi</a>
        <a class="nav-link" href="#">Laporan</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Selamat datang,</h1>
    <p class="lead">saat ini Anda berada di Beranda Bimas Katolik Sumba Tengah</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Tentang Bimas Katolik Sumba Tengah</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Dibuat oleh <a href="https://facebook.com/fransiskusyosef">Yosef Benny Widyokarsono, S.Kom</a>, frontend framework <a href="https://getbootstrap.com">getBootstrap</a>, dan backend framework <a href="https://rubyonrails.org/">Ruby on Rails.</p>
    </div>
  </footer>
</div>
</body>
