<div class="container">
  <h1>Data Keagamaan Katolik</h1>
  <p>Berikut ini dapat dilihat beberapa data keagamaan katolik</p>
  <h2>1. Data Umat Katolik Kabupaten Sumba Tengah</h2>
  <table class="table">
    <thead class="thead-dark" align="center">
      <tr>
        <th style="width:6%" rowspan="2" scope="col">No.</th>
        <th style="width:30%" rowspan="2" scope="col">Kecamatan</th>
        <th style="width:50%" colspan="2" scope="col">Umat</th>
        <th style="width:14%" rowspan="2" scope="col">Jumlah</th>
        <tr>
          <td>Laki-laki</td>
          <td>Perempuan</td>
        </tr>
      </tr>
    </thead>
    <tbody align="center">
      <tr>
        <th scope="row">1</th>
        <td>Mamboro</td>
        <td>310</td>
        <td>335</td>
        <td>645</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Katikutana</td>
        <td>1.482</td>
        <td>2.760</td>
        <td>3.242</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Katikutana Selatan</td>
        <td>1.915</td>
        <td>2.178</td>
        <td>4.102</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Umbu Ratu Nggay</td>
        <td>1.063</td>
        <td>1.293</td>
        <td>2.356</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Umbu Ratu Nggay Barat</td>
        <td>1.821</td>
        <td>2.036</td>
        <td>3.587</td>
      </tr>
    </tbody>
  </table>
  <h2>1. Data Guru dan Jumlah Siswa SD</h2>
  <table class="table">
    <thead class="thead-dark" align="center">
      <tr>
        <th rowspan="2" scope="col">No.</th>
        <th rowspan="2" scope="col">Nama Sekolah</th>
        <th rowspan="2" scope="col">Nama Guru</th>
        <th rowspan="2" scope="col">NIP</th>
        <th rowspan="2" scope="col">Tempat Lahir</th>
        <th rowspan="2" scope="col">Tgl. Lahir</th>
        <th colspan="4" scope="col">Status</th>
        <th rowspan="2" scope="col">Pendidikan/Jurusan</th>
        <th rowspan="2" scope="col">Masa Kerja</th>
        <th rowspan="2" scope="col">Pangkat/Golongan</th>
        <th rowspan="2" scope="col">Jumlah Siswa Katolik</th>
        <tr>
          <td>PNS Kemenag</td>
          <td>PNS Pemda</td>
          <td>Kontrak Pemda</td>
          <td>Honor</td>
        </tr>
      </tr>
    </thead>
    <tbody align="center">
      <tr>
        <th scope="row">1</th>
        <td>SDM Mamboro</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>√</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Katikutana</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Katikutana Selatan</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Umbu Ratu Nggay</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Umbu Ratu Nggay Barat</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
      </tr>
    </tbody>
    </table>
</div>
