<div class="container">
  <h1>Tekad Pelayanan Seksi Urusan Agama Katolik</h1>
  <p>Dengan kerja ikhlas, kreatif, inovatif, dan amanah kita tingkatkan pelayanan bagi masyarakat/umat Katolik Sumba Tengah yang beriman, rukun, cerdas, dan sejahtera dalam bingkai Solapora.</p>
</div>
